<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<head>
  <meta http-equiv="refresh" content="0;url=/se_ha_eliminado_al_cliente">
</head>

<body>

</body>

</html>