<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <body>
          <div class="panel panel-success" >

                <div class="panel-heading" align="center"> El cliente ha sido registrado</div>
                <div class="container" align="center">
                    <!-- Arreglar aquí -->
                    <button type="button" class="btn btn-default" value="Volver a la página principal"/>
                </div>
          </div>
    </body>

</html>