<!DOCTYPE html>
<html>
<head> <title> Error 404 </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
    <body>

        <div class="panel panel-danger">
            <div class="panel-heading">  Error 404  </h1>
                <div>
                    <h2>  Página no encontrada  </h2>
                    <!--<img src="../images/error_404.jpeg">-->
                    <div id="show"></div>
                </div>
            </div>
            <a class="btn btn-default" href="/" role="button" > Volver a la página principal</a>
        </div>
    </body>

</html>