<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<body>

    <div class="panel panel-success">
        <div class="panel-heading"> Tu factura ha sido emitida </div>
        <div class="panel-body">
          Monto a pagar: <%= @factura.monto_a_pagar.value %>
        </div>
    </div>

</body>

</html>