<!DOCTYPE html>
<html>
<head> <title> Facturaciones </title> </head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<body>
    <div class="panel panel-success pull-center">
        <div class="panel-heading"> <h1> Sección facturaciones </h1> </div>
        <div class="panel-body" >

            <form action="/seccion_facturaciones/facturar/" method="get">
                <input type="text" name="nombre" placeholder="Ingrese un nombre" required/>

                <% @meses_corrientes.each{ |mes_del_anho| %>
                <input type="radio" name="mes" value=" <%= mes_del_anho.mes %>"><%= mes_del_anho.mes.to_s %>
                <% } %>

              <input type="submit" class="btn btn-success" value="Facturar" />
            </form>
        </div>
    </div>

</body>

</html>