<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<body>
    <h1> Sección facturaciones </h1>
    <div class="panel panel-success pull-center">
        <div class="panel-heading"> Facturación </div>
        <div class="panel-body" >

        </div>
    </div>

</body>

</html>