<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<body>
    <h1> Página de inicio </h1>

    <div class="list-group">
        <a href="/seccion_clientes" class="list-group-item ">
            <h4 class="list-group-item-heading"> Sección clientes </h4>
        </a>
        <a href="/seccion_facturaciones" class="list-group-item ">
            <h4 class="list-group-item-heading"> Sección facturaciones </h4>
        </a>

    </div>
</body>

</html>