<!DOCTYPE html>
<html ng-app="app">
<head>
    <title> Clientes </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script rel="JQuery" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//llamadas/lib/app/angular-1.2.26/angular.min.js"></script>
    <script src="//llamadas/lib/app/js/controllers.js"></script>

</head>

    <body ng-controller="controller">
        <div class="panel panel-success">

            <h1 align="center"> Sección clientes </h1>

            <!--panel izquierdo-->
            <div class="container ">
                <div class="panel panel-success">
                    <div class="panel-heading">Buscar cliente</div>
                    <div class="panel-body">
                        <form action="/buscar_cliente/" method="get">
                            <input ng-model="query">
                            <!---->
                            <!--<input type="text" name="nombre" placeholder="Ingrese un nombre" required/>-->
                            <!--<input type="submit" class="btn btn-success" onclick="$scope.buscarCliente(nombre)" value="Buscar cliente" />-->
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="panel panel-success">
                <div class="panel-heading"> Todos los clientes </div>
                      <ul >
                            <li ng-repeat="cliente in $scope.clientes | filter:query">
                              <div class="btn-group btn-group">
                                <div class="btn-group ">
                                  <button type="button" class="btn btn-default" onclick="buscarCliente(cliente.nombre)">{{cliente.nombre}}</button>
                                </div>
                                <div class="btn-group ">
                                  <button type="button" class="btn btn-default pull-right" onclick="borrarCliente(cliente.nombre)">
                                    <div class="glyphicon glyphicon-remove" ></div>
                                  </button>
                                </div>
                              </div>
                            </li>
                      </ul>
                    </div>
                </div>
            </div>


            <!--panel derecho-->
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading">Borrar un cliente</div>
                    <div class="panel-body" id="ajax" >
                        <form class="in-line" action="/borrar_cliente/" method="post">
                            <input type="text" name="nombre" placeholder="Ingrese un nombre" required/>
                            <input type="submit" class="btn btn-success" value="Borrar cliente" />
                        </form>
                    </div>
                </div>
            </div>


            <!--panel centro-->
            <div class="container">
                <div class="panel panel-success ">
                    <div class="panel-heading ">Crear cliente</div>
                    <div class="panel-body ">
                        <form action="/crear_cliente/" method="post">
                            Nombre:         <input type="text" class="form-control" name="nombre" placeholder="Ingrese un nombre" required >
                            Cod local:      <input type="number" class="form-control" min="0" name="cod_local" placeholder="Ingrese un código de area local"  required/>
                            Cod nacional:   <input type="number" class="form-control" min="0" name="cod_nacional" placeholder="Ingrese un código de area nacional" required />
                            Número:         <input type="tel" maxlength="10" class="form-control" name="nro" placeholder="Ingrese un número telefónico" required/>
                            <button type="submit" class="btn btn-success">Crear cliente</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>

    </body>

</html>