<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<body>

<div class="panel panel-danger">
  <div class="panel-heading">  Arguments error  </h1>
    <div>
      <h2>  No se pudo crear el cliente  </h2>
      <!--<img src="../images/error_404.jpeg">-->
      <a class="btn btn-default pull-center" href="/" role="button" > Volver a la página principal</a>
    </div>
  </div>
</div>
</body>

</html>