<!DOCTYPE html>
<html>
<head>
  <title> Cliente eliminado </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script rel="JQuery" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>



<div class="panel panel-success">
  <div class="panel-heading">  Cliente eliminado  </h1>
    <div>
      <h2>  El cliente ha sido eliminado satisfactoriamente   </h2>
      <!--<img src="../images/error_404.jpeg">-->
      <a class="btn btn-default" href="/" role="button" > Volver a la página principal</a>
    </div>
  </div>
</div>
</body>

</html>